---
dependency:
  name: galaxy
driver:
  name: podman
platforms:
  - name: molecule_debian10_instance
    dockerfile: Dockerfile-debian10.j2
    image: debian:10-slim
  - name: molecule_debian11_instance
    dockerfile: Dockerfile-debian11.j2
    image: debian:testing-slim
  - name: molecule_rocky8_instance
    dockerfile: Dockerfile-rocky8.j2
    image: rockylinux/rockylinux:8
  - name: molecule_centos7_instance
    dockerfile: Dockerfile-centos7.j2
    image: centos:7
lint: |
  set -e
  printf "##########################################\n"
  printf "# Performing yamllint \n"
  yamllint -c ./molecule/lint_config/config.yml .
  printf "##########################################\n"
  printf "# Performing ansible-lint \n"
  ansible-lint -c ./molecule/lint_config/ansible-lint.yml .
provisioner:
  name: ansible
verifier:
  name: ansible
