---
# @meta author: Vincent Fricou
# @meta description: Deploy rbenv and install ruby on remote target.
# @action # Deploy rbenv to remote hosts on connection user.
# @action # Install ruby in specified version and setup rbenv to use it.

- block:
    - import_tasks: check_os.yml
  tags:
    - always

- import_tasks: pkg_install.yml

- import_tasks: debian/pkg_install.yml
  when:
    - ansible_distribution == 'Debian'

- import_tasks: rhel/pkg_install.yml
  when:
    - ansible_distribution == 'CentOS' or
      ansible_distribution == 'Rocky'

- import_tasks: rbenv_get.yml
- import_tasks: rbenv_install.yml
- import_tasks: rbenv_post.yml
- import_tasks: ruby_install.yml
